# --- .NET / C# ---
[Bb]in/
[Oo]bj/
*.user
*.cache
*.suo
.vs/

# --- Angular / Node ---
node_modules/
.angular/
dist/
.npm/

# --- Mac Specific ---
.DS_Store
Household-Tasks Version 2/HouseholdTasksOverview.API/Controllers/RoomsControllers.cs
Household-Tasks Version 2/HouseholdTasksOverview.API/Controllers/RoomsControllers.cs
Household-Tasks Version 2/HouseholdTasksOverview.API/Controllers/TasksControllers.cs
Household-Tasks Version 2/HouseholdTasksOverview.API/Program.cs
Household-Tasks Version 2/HouseholdTasksOverview.Model/obj/Debug/net8.0/HouseholdTasksOverview.Model.csproj.FileListAbsolute.txt
Household-Tasks Version 2/HouseholdTasksOverview.Model/obj/Debug/net8.0/HouseholdTasksOverview.Model.sourcelink.json


# --- Database Connection string  ---
appsettings.Development.json