<div class="page">

  <!-- HEADER -->
 <header class="header">
    <div class="header-right">

      <span class="header-label">Housemates</span>
      <button class="icon-btn">👥</button>

      <span class="header-label">Home Info</span>
      <button class="icon-btn">🔑</button>
    </div>
  </header>

  <!-- BODY -->
  <main class="body">

    <h1 class="title">Your Home</h1>
    <p class="subtitle">Click below to add rooms to your house</p>

    <!-- ROOM CARDS -->
    <div class="rooms-list">

      <div
        class="room-card"
        *ngFor="let room of rooms"
        (click)="openRoom(room)"
      >
        <img [src]="room.image" alt="Room" class="room-img" />
      </div>

      <!-- ADD ROOM BUTTON — always last -->
      <button class="add-room-btn" (click)="addRoom()">
        <span class="plus">+</span>
      </button>

    </div>

  </main>

</div>